*~
*.beam
_build/
cover/
*.coverdata
*.d
deps
deps/
doc/
doc/edoc-info
doc/erlang.png
doc/*.html
doc/stylesheet.css
ebin/
.erlang.mk/
erl_crash.dump
.eunit
logs/
*.plt
plugins/
*.sw?
.*.sw?
.sw?
test/ct.cover.spec
xrefr
