*~
*.beam
cover/
*.coverdata
deps
deps/
doc/
doc/edoc-info
doc/erlang.png
doc/*.html
doc/stylesheet.css
ebin/
.erlang.mk/
.eunit
git-revisions.txt
logs/
.*.plt
plugins/
rebar.config
rebar.lock
.*.sw?
.sw?
test/ct.cover.spec
xrefr
